<%- include('../partials/headers')  %>

<div class="container mt-4">
    <div class="card " style="width: 18rem;">
        <div class="card-header">
            Nama : <%= mhs.nama %>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">nim : <%= mhs.nim %> </li>
            <li class="list-group-item">jurusan : <%= mhs.jurusan %> </li>
        </ul>
    </div>
</div>


<%- include('../partials/footers')  %>